<div class="row top5">
    <button class="button success" (click)="save()">Save</button>
    <button class="button danger" (click)="cancel()">Cancel</button>
    Edit Page {{name}} 
</div>

<div class="row top5">
    <div class="listview-outlook" data-role="listview">
        <div class="list marked">
            <div class="list-content">
                <span class="list-title">...list title...</span>
                <span class="list-subtitle">...list subtitle...</span>
                <span class="list-remark">...list remark...</span>
            </div>
        </div>
        <div class="list">
            <div class="list-content">
                <span class="list-title">...list title...</span>
                <span class="list-subtitle">...list subtitle...</span>
                <span class="list-remark">...list remark...</span>
            </div>
        </div>
    </div>
</div>