<div class="grid"> 
    <div class="row">
        <button class="button success" (click)="save()">Save</button>
        <button class="button danger" (click)="cancel()">Cancel</button>
    </div>

    <div class="row cells3">
        <div class="cell">
            <div class="listview-outlook" data-role="listview">
                <div [ngClass]="{'list': true, 'marked': selectedScript == script}" *ngFor="let script of scripts" 
                    (click)="selectScript(script)">
                    <div class="list-content">
                        <span class="list-title">{{script.title}}</span>
                        <span class="list-subtitle">Shortcut: {{script.shortcut}}</span>
                    </div>
                </div>
            </div>
            <button class="button default" (click)="addScript()">Add</button>
        </div>
        
        <div class="cell colspan2">
            <form *ngIf="selectedScript != null">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" [(ngModel)]="selectedScript.title">
                <br />

                <label for="shortcut">Shortcut:</label>
                <input type="text" name="shortcut" id="shortcut" [(ngModel)]="selectedScript.shortcut">

                <br />
                <label for="editor">Script:</label>
                <br />
                <textarea id="editor" name="editor" [(ngModel)]="selectedScript.content"></textarea>
            </form>
        </div>
    </div>
</div>