<div class="grid"> 
    <div class="row">
        <button class="button success" (click)="save()">Save</button>
        <button class="button danger" (click)="cancel()">Cancel</button>
        Edit Page {{name}} 
    </div>

    <div class="row cells3">
        <div class="cell">
            <div class="listview-outlook" data-role="listview">
                <div [ngClass]="{'list': true, 'marked': selectedScript == script}" *ngFor="let script of scripts" 
                    (click)="selectScript(script)">
                    <div class="list-content">
                        <span class="list-title">{{script.title}}</span>
                        <span class="list-subtitle">Shortcut: {{script.shortcut}}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="cell colspan2">
            <form [hidden]="selectedScript == null">
                <label for="shortcut">Shortcut:</label>
                <input type="text" id="shortcut" value="{{selectedScript != null ? selectedScript.shortcut : 'none'}}">
            </form>
            
            <div ace-editor></div>
            {{selectedScript ? 'Ace editor' : 'Select script to edit it'}}
        </div>
    </div>
</div>