<div class="row top5">
    <button class="button primary" (click)="switchToEditMode()"><span class="fa fa-pencil"></span> Switch to edit mode</button>
</div>
<div class="row tile-area no-padding top5 fg-white">
    <div class="tile-container">
        <div class="tile-wide {{'bg-' + script.color}}" data-role="tile" (click)="onClick()" *ngFor="let script of scripts">
            <div class="tile-content iconic">
                <span class="icon fa fa-pencil"></span>
            </div>
            <span class="tile-label fg-white">{{script.title}}</span>
            <span class="tile-badge bg-darkRed">{{script.shortcut}}</span>
        </div>
    </div>
</div>